{% extends 'backtrack/base.html' %}

{% block content %}

{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<h2>Add PbI</h2>
<br>

<form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% if user.role == 'PO' %}
    <button type="submit" class="btn btn-success">Add</button>
    {% endif %}
</form>

{% endblock %}