{% extends 'backtrack/base.html' %}

{% block content %}

{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


<h2>Modify PBI</h2>
<br>

<form action="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <p><h3>Confirmation:</h3></p>
    {% bootstrap_formset_errors confirmation_form %}
    {% bootstrap_formset confirmation_form layout='inline' %}
    <button type="submit" class="btn btn-success">Update</button>
</form>

{% endblock %}